@mixin button($backgroundColor, $borderColor, $textColor) {
  background-color: $backgroundColor;
  border: 1px solid $borderColor;
  border-radius: 0.25em;
  color: $textColor;
  display: inline-block;
  font-size: 1rem;
  font-weight: $fontWeightDefault;
  line-height: 1.25;
  padding: 0.5em 0.75em;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.15s ease-in-out;
  vertical-align: middle;
  white-space: nowrap;
  &:hover,
  &:active {
    background-color: darken($backgroundColor, 2.5%);
    border-color: darken($borderColor, 5%);
    text-decoration: none;
  }
}

