// Variables 
// Created by Jordan Newland on 17/09/2017 @ 22:55
// assets/css/02_util/_variables.scss

// Colors
$primaryColor: #892890;
$primaryLightColor: #BB59C1;
$primaryDarkColor: #580062;
$secondaryColor: #78909C;
$secondaryLightColor: #A7C0CD;
$secondaryDarkColor: #4B636E;
$primaryTextColor: #FFFFFF;
$secondaryTextColor: #000000;

$primaryFontFamily: 'Neris';

$fontWeightLight: 100;
$fontWeightRegular: 300;
$fontWeightStrong: 600;

$fontWeightDefault: 300;

$fontSizeSmall: 80%;
$fontSizeRegular: 14px;

$fontSizeDefault: $fontSizeRegular;
