.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
  padding: 4em 1em 5em;
  background-color: transparent;
  color: $primaryTextColor;
  text-align: center;
  .card-heading {
    margin-bottom: 20px;
    font-size: 31.92px;
    font-weight: 600;
    text-align: center;
  }
  .card-text {
    max-width: 328px;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
  }
  .card-link {
    color: inherit;
    font-weight: 600;
    text-align: center;
    .material-icons {
      font-size: inherit;
    }
  }
  .card-decor {
    position: absolute;
    
    bottom: 0;
    opacity: 0.5;
    
    color: $primaryTextColor;
    font-size: 63px;
    font-weight: 100;
    transform: rotateZ(-20deg);

  }
}

.card.card-primary {
  background-color: $primaryDarkColor;
  .card-link {
    color: $primaryLightColor;
  }
  .card-decor {
    right: 0;
    padding: 0 0.15em 0 0;
    color: $primaryColor;
  }
}

.card.card-secondary {
  background-color: $secondaryDarkColor;
  .card-link {
    color: $secondaryLightColor;
  }
  .card-decor {
    left: 0;
    padding: 0 0 0 0.15em;
    color: $secondaryColor;
  }
}