#contact {
  padding: 2em 0;
  background-color: $secondaryDarkColor;
  color: $primaryTextColor;
  text-align: center;
  h3 {
    font-size: 31.92px;
  }
  ul {
    margin: 0 2em;
    padding: 0;
    list-style-type: none;
    text-align: left;
  }
  li {
    margin-bottom: 0.5em;
  }
  a {
    display: flex;
    align-items: center;
    color: $secondaryLightColor;
    p {
      display: inline-block;
      margin: 0;
      margin-left: 8px;
    }
  }
  .address {
    max-width: 107px;
  }
}

#contact-form {
  padding: 2em 0;
  input,textarea {
    font-weight: 600;
    border: 0;
    border-radius: 0.25em;
    margin: 0;
    margin-bottom: 1em;
    padding: 0.5em 0.75em;
    display: block;
    width: 100%;
    background: none;
    background-color: $primaryTextColor;
    outline: 0;
    color: $secondaryLightColor;
  }
  textarea {
    min-height: 188px;
  }
  .btn {
    width: 100%;
    @include button($primaryColor, $primaryColor, $primaryTextColor);
  }
}

#map {
  margin-left: -1em;
  margin-right: -1em;
  min-height: 150px;
}