#cta-splash {
  padding: 4em 0;
  background-image: url('../media/tew_splash@1x.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h3 {
    margin-bottom: 20px;
    color: $primaryTextColor;
    font-size: 31.92px;
    font-weight: 600;
  }
  .btn {
    @include button($primaryColor, $primaryColor, $primaryTextColor);
    padding: 1.25em 63px;
    font-size: 1rem;
  }
}