.hero {
  position: relative;
  padding: 6em 0;
  background-color: $secondaryTextColor;
  background-image: url('../media/tew_hero@1x.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .headline {
    max-width: 328px;
    margin: 0 auto 20px;
    color: $primaryTextColor;
    font-size: 22.96px;
    font-weight: 600;
    line-height: 1.35;
    text-align: center;
  }
  .summary {
    max-width: 328px;
    margin: 0 auto 20px;
    opacity: 0.8;
    color: $primaryTextColor;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
  }
  .btn-group {
    text-align: center;
    margin-bottom: 1em;
    .btn-primary {
      @include button($primaryColor, $primaryColor, $primaryTextColor);
      margin-bottom: 0.5em;
      border-radius: 0.3em;
      padding: 0.75em 2em;
      font-size: 1.25rem;
      line-height: 1.5;
    }
    .btn-secondary {
      @include button(transparent, $secondaryColor, $secondaryColor);
      margin-bottom: 0.5em;
      border-radius: 0.3em;
      padding: 0.75em 2em;
      font-size: 1.25rem;
      line-height: 1.5;
    }
  }
  .action-hint {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    display: block;
    margin: 0 auto;
    color: $primaryTextColor;
    text-align: center;
    i.material-icons {
      opacity: 0.5;
    }
  }
}
